.raleway {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* header item */

header {
    background-image: url(../Assets/Hero-bg.png);
    height: 100%;

}

.banner-description {
    font-weight: bold;
    font-size: 65px;
}

/* shared items */

.bg-color {
    background-color: #f2f2fc;
}

.btn-primary {
    background-color: #4E47FF;
    font-weight: bold;
    color: #FFFFFF;
    padding: 12px 36px;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: 0.3s;

}

.btn-primary:hover {
    background-color: #10c7d1;
    transform: scale(1.05);

}

.btn-secondary {
    margin-bottom: 158px;
}

.text-center {
    text-align: center;
}

.text-secondary {
    color: #4E47FF;
}

.text-color {
    color: #252432;
}

/* nav styles */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
    margin-bottom: 158px;

}

.nav-title {
    font-size: 34px;
}

/* Action section style */

.action-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px 120px 80px 100px;
    gap: auto;
}

.action-text {
    padding: 62.5px;
    height: 100%;
    justify-content: center;
}

.action-title {
    font-size: 30px;
    font-weight: bold;
}

.action-subtitle {
    font-size: 24px;
    font-weight: 16px;
}

.action-image img {
    border-radius: 48px;
    width: 100%;
    max-width: 450px;

}

/* Productive Users section */

.users-section {
    margin: 116px 159px 137px 141px;
    justify-content: center;
    align-items: center;
}

.users-container {
    background-color: #e6e9ff;

    padding: 40px;
    text-align: center;
    border-radius: 24px;

}

.users-container h2 {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 30px;

}

.users {
    display: flex;
    justify-content: space-around;
}

.user-text h3 {
    font-size: 80px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 4px;
}

.user-text p {
    font-size: 20px;
    font-weight: 16px;
    margin: 0;

}

/* Let’s Get In Touch Section */

.touch-section {
    display: flex;

    justify-content: space-around;

    padding: 160px 100px 120px 200px;
    gap: 20px;

}

.touch-column {
    flex: 1;
    min-width: 300px;
}

.touch-title {
    font-size: 97px;
    font-weight: bold;
    color: #000000;

}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 18px;
    margin-bottom: 6px;
    color: #000000;
}

input[type="email"],
input[type="text"],
textarea {
    padding: 12px 14px;
    margin-bottom: 20px;
    border: 1px solid #e9e7e7;
    border-radius: 6px;
    font-size: 14px;

    background-color: #fff;
}

/* footer styles */

footer {
    margin: 0;
    padding: 0;
}

.footer {
    padding: 50px 20px;

}

.footer-container {
    margin: 0 auto;
}

.footer-logo {
    font-size: 60px;
    margin-bottom: 5px;
}

.footer-links .nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.footer-link .nav-list a {
    text-decoration: none;
    font-size: 16px;
}

.footer-text p {
    color: #8987A1;
    font-size: 16px;
}


/*Users’ Feedback Section*/

.feedback-section{
    margin: 120 0 0 0;
    padding: 20px 5px;
    text-align: center;
}

.feedback-heading{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 40px;
}

.feedback-container{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.feedback-card{
    background-color: #fffefe;
    border: 1px solid #eeeeee;
    border-radius: 14px;
    
    padding: 20px;
    max-width: 280px;
    text-align: left;

}

.feedback-card h3{
    font-size: 18px;
    margin-bottom: 8px;
}

.feedback-card p{
    font-size: 14px;
    margin-bottom: 16px;
}

.reviewer-info{
    display: flex;
    align-items: center;
    gap: 12px;
}
.reviewer-info img{
    border-radius: 50%;
}

.reviewer-img{
    width: 36px;
    height: 36px;
    border: solid;
    border-radius: 50%;
    object-fit: cover;
}

.reviewer-name{
    font-weight: 600;
    font-size: 14px;

}

.review-date{
    font-size: 12px;
}